/.cproject
/.project
/.settings
/*.o
/*.so
/mytest
/log*
/*w.xml
/bingo/config/xml/*.o 
/bingo/config/json/*.o 
/bingo/log/*.o 
/bingo/config/json/*.o 
/bingo/*.o
/test/config/*.o
/test/log/*.o
/test/process/*.o
/test/tcp/*.o
/test/thread/*.o
/test/*.o
